.section {
	background-color: #fff;
	margin: 15px 0;
	box-shadow: 0px 0px 3px rgb(170, 157, 157);
}

.section__header {
	padding: 20px;
	border-bottom: 1px solid #e5e2e2;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.section__title {
	margin: 0;
}

@media (max-width: 767px) {
	.section__title {
		flex-basis: 100%;
	}
}