.buttons {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	
}

@media (max-width: 767px) {
	.buttons {
		grid-template-columns: 1fr;
		width: 100%;
	}
}

.buttons__button {
	cursor: pointer;
	border: none;
	background: transparent;
	color: #1283a5;
	transition: all 0.3s;
}

.buttons__button:hover {
	text-decoration: underline;
}

.buttons__button:active {
	color: hsl(194, 80%, 21%);
}

@media (max-width: 767px) {
	.buttons__button:first-child {
		margin-top: 15px;
	}
}

.buttons__button:disabled {
	color: rgb(184, 180, 180);
	cursor: default;
}