.shoppingList {
	padding: 20px;
	margin-bottom: 0;
}

.shoppingList__item {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-items: center;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e2e2;
	word-break: break-word;
}

.shoppingList__item--hidden {
	display: none;
}

@media (max-width: 767px) {
	.shoppingList__item {
		grid-template-columns: 40px 1fr 40px;
	}
}

.shoppingList__item:last-child {
	margin-bottom: 0;
}

.shoppingList__itemContent--done {
	text-decoration: line-through;
}

.shoppingList__itemButton {
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
	background-color: rgb(70, 129, 2);
	cursor: pointer;
	justify-self: center;
	transition: background-color .3s, border .1s;
	box-shadow: 1px 2px 3px #000;
}

.shoppingList__itemButton:hover{
	background-color: hsl(88, 97%, 21%);
}

.shoppingList__itemButton:active{
	transform: translate(2px,2px);
	box-shadow: none;
}

@media (max-width: 767px) {
	.shoppingList__itemButton {
		justify-self: start;
	}
}

.shoppingList__itemButton--done {
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: 50% 4px;
}

.shoppingList__itemButton--delete {
	background: url("../img/Black_Trash.png") 50% no-repeat;
	background-color: rgb(216, 47, 35);
}

.shoppingList__itemButton--delete:hover{
	background-color: hsl(4, 72%, 54%);
}

@media (max-width: 767px) {
	.shoppingList__itemButton--delete {
		justify-self: end;
	}
}
